
/*  */
@import url('__container/popup__container.css');
@import url('__close-button/popup__close-button.css');
@import url('__intro/popup__intro.css');
@import url('__form/popup__form.css');
@import url('__input/popup__input.css');
@import url('__save-button/popup__save-button.css');

.popup {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0 auto;
  
}

.popup__image {
  position: relative;
  width: 75vw;
  height: 75vh;
  margin: 0 auto;
  z-index: 50;
}

.popup__container_image {

}
