@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.popup_open {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  animation: fade-in .4s ease;
}

