
.profile__add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px auto 0;
  padding: 0;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid white;
}