
@import url('normalize.css');

/*fonts*/
@import url('../vendor/fonts.css');

@import url('../blocks/logo/logo.css');
@import url('../blocks/page/page.css');

/*header*/
@import url('../blocks/header/header.css');

/*profile*/
@import url('../blocks/profile/profile.css');

/*places*/
@import url('../blocks/places/places.css');

/*footer*/
@import url('../blocks/footer/footer.css');

/*popup*/

@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_open/popup_open.css');
@import url('../blocks/popup/_open_image/popup_open_image.css');

.popup__save-button_disabled {
  opacity: .2;
  border: 1px solid #E5E5E5;
}

.popup__input-error {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 14.52px;
  align-self: flex-start;
  color: rgba(255,0,0,1);
  padding: 0;
  margin: 5px 0 13px;
}
